.background{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
    height: 82%;

    background-color: #080622;
}

.filtro{
    width: 20%;
}

.soli{
    margin-left: 15%;
}

.filtroLabel{
    margin-left: 12%;
    font-weight: bold;
    
}

.font{
    color: black;
    background-color: white;
    border-radius: 10px;
}

.lista{
    background-color: white;
    width: 12%;
    align-items: center;
    text-align: center;
    height: 50px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
}
.espaco{
    height: 50px;
    background-color: #3C5045;
    width: 12%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    color: white;
    border-color: black;
}
.espaco2{
    height: 160px;
    color:white;
    border-color: black;
    background-color: #3C5045;
    width: 12%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}
.tela{
    border-left-style: solid;
    border-right-style: solid;
}

